@import "tailwindcss/base";
@import "tailwindcss/components";

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

input:focus {
  outline: 0;
}

[data-tippy-root] {
  z-index: 49 !important;
}

.tippy-box[data-theme~="marv"] {
  background-color: tomato;
  color: yellow;
}

.tippy-box[data-theme~="marv"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: tomato;
}

.tippy-box[data-theme~="marv"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: tomato;
}

/*
  The emerging W3C standard that is currently Firefox-only
  Source: https://www.digitalocean.com/community/tutorials/css-scrollbars
*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  border: 5px solid transparent;
}

@import "tailwindcss/utilities";
