@import "tailwindcss/base";
@import "tailwindcss/components";

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

.tippy-box[data-theme~="marv"] {
  background-color: tomato;
  color: yellow;
}

.tippy-box[data-theme~="marv"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: tomato;
}

@import "tailwindcss/utilities";
